
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead class="thead-dark">
          
            <!-- Spring Semester 2021-2022 -->
          
          <!-- <tr>
            <th>Subject</th>
            <th>Cr.HR</th>
            <th>Grade Pt.</th>
            <th>Marks</th>
          </tr> -->
        </thead>
        <tbody>
          <!-- <tr *ngFor="let pro of oldPer">
            <td>{{pro.name}}</td>
            
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
