<!-- <app-mycontainer></app-mycontainer> -->
<!-- <app-databind></app-databind> -->
<!-- <app-class-style></app-class-style> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-parent></app-parent> -->
<!-- <app-card></app-card>
<app-card2></app-card2> -->

<!-- <div class="row">
    <div class="col-md-6">
        <app-card></app-card>
    </div>
    <div class="col-md-6">
        <app-card2></app-card2>
    </div>
</div> -->

<!-- <app-home></app-home> -->
<!-- <app-contact2></app-contact2> -->
<app-employee-dashboard></app-employee-dashboard>

